.sideBar {
    background-color: #242939;
    min-height: 100vh;
}
.chosen{
    background-color: whitesmoke;
    color: #242939
}
.infoEquipo{
    font-size: 20px;
}
.ip{
    font-size: 12px;
}
.tituloCard{
    color: #242939 ;
}
